@charset "utf-8";
/* CSS Document */

/* 租车自驾 */
.l-fl{width:778px;font-size:14px;overflow:hidden;}
.l-fr{width:300px;overflow:hidden;}
.l-inner{width:1100px;margin:0 auto;}
.l-selectadr{height:80px;}
.l-flmain-one{height:20px;margin:30px 20px 0;}
span.l-tit{width:auto;display:block;font-size:14px;margin-right: 4px;margin-left: 4px;}
input.select[type="text"]{width:100px;margin-right:5px;height:25px;border:1px #ccc solid;padding:2px 4px;font-size:14px;}

select.select{width:100px;margin-right:10px;height:25px;}
.l-flmain .l-flmain-one input.select[type="text"]:focus{border:1px #fa883c solid;}
.l-flmain .l-flmain-one select.select{width:100px;margin-right:6px;height:26px;line-height:26px;border-radius:0px;-o-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.l-shortrent-map{height:170px;}
.l-shortrent-map img{width:100%;height:100%;}
a.l-selectbtn{display:block;width:60px;height:26px;line-height:26px;background:#ff6600;text-align:center;color:#fff;font-size:16px;margin-left:10px;}
a.l-selectbtn:hover{background:#fa883c;}

.l-sort{height:42px;line-height:40px;}
.l-sort a{color:#333;background:#fff;text-align:center;width:140px;border-right:1px #ccc solid;height:40px;font-size:16px;}
.l-sort a:hover,.l-sort a.now{background:#eee;}
.l-sort span input{margin-left:20px;margin-right:4px;}
.l-sort i{text-align:right;}


.panel-body{color:#585858;}
.panel-body h5{line-height:25px;}
.panel-body h3{line-height:20px;font-weight:400;}
.panel-body h6{line-height:30px;}
.panel-body a.clear{color:#4076f0;}

/* 租车自驾>>选择框 */
.l-input-select{min-height:125px;padding:10px;border:1px #fa883c solid;z-index:10;position:absolute;display:block;background:#fff;margin-top:23px;margin-left:70px;}


.l-input-select01{width:436px;min-height:150px;position:absolute;margin-left:64px;margin-top:26px;z-index:100;border:1px #ccc solid;background:#fff;padding-bottom:15px;}
.l-input-select02{width:566px;min-height:150px;position:absolute;margin-left:233px;margin-top:26px;z-index:100;border:1px #ccc solid;background:#fff;padding-bottom:15px;}
.l-input-select03{width:436px;min-height:150px;position:absolute;margin-left:402px;margin-top:26px;z-index:100;border:1px #ccc solid;background:#fff;padding-bottom:15px;}
.l-input-select04{width:436px;min-height:150px;position:absolute;margin-left:571px;margin-top:26px;z-index:100;border:1px #ccc solid;background:#fff;padding-bottom:15px;}

ul.l-select-tit{display:inline-block;padding:0 15px;margin-bottom:15px;}
ul.l-select-tit li{float:left;text-align:center;padding:8px 10px 4px;color:#666;line-height:30px;font-size:14px;cursor:pointer;}
ul.l-select-tit li.now{border-bottom:2px #fa883c solid;color:#fa883c;}

.l-select-tabmain span{width:52px;text-align:center;display:block;}
ul.l-select-main{display:block;padding:0 15px;}
ul.l-select-main li{float:left;text-align:center;padding:6px 6px;}
ul.l-select-main li a{width:52px;padding:0px 2px;color:#666;line-height:24px;font-size:12px;background:#eee;display:block;border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul.l-select-main li a:hover{color:#fff;background:#fa883c;}

ul.l-select-main02{display:block;padding:0 15px;}
ul.l-select-main02 li{float:left;text-align:center;padding:6px 6px;}
ul.l-select-main02 li a{width:90px;padding:0px 2px;color:#666;line-height:24px;font-size:12px;display:block;border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul.l-select-main02 li a:hover{color:#fff;background:#fa883c;}

.l-select-calendar-title{width:100%;background:#fa883c;color:#fff;height:50px;}

/* 预定list */
.l-carlist{height:150px;}
.l-carlist .l-carpic{width:180px;height:110px;margin:20px 16px;overflow:hidden;}

.l-info{width:300px;}
.l-info h4{line-height:25px;}
.l-info h5{line-height:30px;}
.l-info h5 i{margin:0 4px;}
.l-info .l-info-inline h5{margin-right:20px;}

.l-carprice{margin:50px 15px;width:100px;}
.l-carprice h3{line-height:25px;}
.l-carprice h3 i{font-size:24px;color:#CC3366;}
.l-carprice h5{line-height:30px;text-align:center;}
.l-carprice h5 i{color:#666;}

.l-carlist a.l-destinebtn{display:block;width:100px;height:40px;text-align:center;background:#ff6600;color:#fff;margin:50px 10px;line-height:40px;}
.l-carlist a.l-destinebtn:hover{background:#fa883c;}

a.l-more{width:270px;height:40px;line-height:40px;text-align:center;color:#fff;background:#0099ff;display:block;margin:8px auto;}
a.l-more:hover{background:#3fb2fe;}
/* 预定页面 */
.l-sch-left{width:180px;}
.l-sch-left .l-carpic{width:180px;height:110px;}
.l-sch-left-main{width:440px;height:auto;margin:10px 20px;}
.l-sch-left-main span.l-schleft-main-inline{}
.l-sch-left-main span.l-schleft-main-inline h1{line-height:35px;margin-right:30px;}
.l-sch-left-main span.l-schleft-main-inline h4{line-height:35px;}
.l-sch-left-main span.l-schleft-main-inline h5{line-height:35px;margin-right:30px;}
.l-sch-left-main span.l-schleft-main-inline h5 i{margin:0 4px;}
.l-sch-left-main h5{line-height:30px;}
.l-sch-left-right{width:80px;}
.l-schorder-pricebtn h4{line-height:40px;margin-right: 20px;}



/* usercenter */
.y-fl{width:300px;}
.y-fr{width:778px;}
ul.l-uc-tab{list-style:none;}
ul.l-uc-tab li{margin-left: 20px;}
ul.l-uc-tab li.tit{line-height:50px;height:50px;font-size:16px;background:#DE1921;text-align:center;color:#fff;margin-left: 20px;border: 1px #fff solid;}
ul.l-uc-tab li a{font-size:16px;display:block;color:#666;}
ul.l-uc-tab li a:hover{color:#333;}

.l-uc-title{line-height:50px;height:50px;background:#eee;color:#333;}
.l-uc-title h3{line-height:50px;margin-left:20px;}
.l-uc-title h4{line-height:50px;margin-left:20px;}

.l-uc-main .l-ucmain-o{width:350px;height:50px;line-height:50px;margin-left:20px;font-size: 16px;}
.l-uc-main .l-ucmain-o span{width:80px;text-align:right;display:block;float:left;}
.l-uc-main .l-ucmain-o i,.l-uc-main .l-ucmain-o input{width:180px !important;display:block;float:left;font-size: 14px;}
.l-uc-main .l-ucmain-o input{width:140px;border:1px #ccc solid;border-radius:0;margin:12px 0;padding:2px 4px;}
.l-uc-main .l-ucmain-o a{display:block;float:left;font-size:14px;margin-left:20px;}

.l-user-password .l-uc-main .l-ucmain-o{margin:0 auto;font-size: 16px;}
.l-user-password .l-uc-main .l-ucmain-o span{width:100px;text-align:right;display:block;}
.l-user-password .l-uc-main .l-ucmain-o input{width:220px !important;padding:2px 4px;}
.l-user-password .l-uc-main .l-ucmain-o input.l-pswdmodifyinput{width:110px !important;}
.l-user-password .l-uc-main .l-ucmain-o a.l-pswdmodifybtn{padding:2px 4px;margin:10px 0;width:90px;line-height:27px;background:#DE1921;color:#fff;display:block;text-align:center;font-size:14px;margin-left: 20px;}
.l-user-password .l-uc-main .l-ucmain-o a.l-pswdmodifybtn:hover{background:#ff6600;}



.l-modal-input{width:520px;margin:20px auto;line-height:30px;}
.l-modal-input span{width:90px;margin-right:10px;font-size: 14px;text-align:right;}
.l-modal-input input{line-height:20px;padding:4px 4px;width:220px;border:1px #ccc solid;font-size:14px;}
.l-modal-input input.l-pswdmodifyinput{width:110px !important;}
.l-modal-input  input.l-pswdmodifyinput{width:110px !important;}
.l-modal-input  a.l-pswdmodifybtn{padding:2px 4px;margin:0px 0;width:100px;line-height:27px;background:#DE1921;color:#fff;display:block;text-align:center;font-size:14px;margin-left: 10px;}
.l-modal-input  a.l-pswdmodifybtn:hover{background:#ff6600;}

.l-modal-input input.l-yzinput{width:100px;}
.l-modal-input a{display:block;width:110px;height:30px;line-height:30px;text-align:center;background:#DE1921;color:#fff;font-size:14px;margin-left:10px;}
.l-modal-input a:hover{background:#ff6600;}
/* 提示 */
i.l-tips{color:red;line-height:27px;font-size:12px !important;padding-top:14px;padding-left:4px;}
i.l-tipsok{color:#05842f;}



/* 企业服务 */
.l-border-inner{margin:10px 20px;}
/* .l-box{width:516px;height:auto;margin:0 20px;}
.l-box .l-box-title{width:100%;border-top-radius:5px;-moz-border-top-radius:5px;-webkit-border-top-radius:5px;}
.l-box .l-box-title h3{margin:0px 10px;line-height:34px;font-size:16px;}
.l-box .l-box-main{width:100%;border:1px #CC3366 solid;}
.l-box .l-box-main h5{margin:20px 0;line-height:30px;font-size:14px;}
.l-box .l-box-main h6{margin:20px 0;line-height:30px;font-size:12px;}
.l-box .l-box-main .l-box-main-o{width:100%;line-height:50px;padding:0 20px;} */
.panel-body .l-box-o{line-height:30px;margin:10px 10px;font-size:13px;}
.panel-body .l-box-o span{width:80px;line-height:29px;}
.panel-body .l-box-o input{width:120px;line-height:26px;padding:1px 4px;}
.panel-body .l-box-o select{width:120px;line-height:30px;padding:4px 4px;}


/* 我的订单 */
.l-user-order{width:100%;}
.l-order-title{line-height:35px;height:35px;font-size: 14px;}
.l-order-title span input{width:180px;border:1px #ccc solid;height:28px;border-radius:0;padding:2px 4px;}
.l-order-title span input:focus{border-color:#ccc;}
a.l-inquiry{line-height:28px;width:80px;text-align:center;display:block;background:#fa883c;color:#fff;font-size:14px;padding:0 2px;}
a.l-inquiry:hover{background:#fa883c;}
.l-table-wth{width:1050px;margin:10px auto;font-size:14px;color:#666;}
.l-table-wth th{background:#eee;color:#333;}
.l-table-wth tbody{font-size:12px;}
.l-table-wth tbody tr td{width:9% !important;line-height:30px;}
.l-table-wth tbody tr td.cz{min-width:70px;}
.l-table-wth tbody tr td.cz a{width:70px;line-height:26px;height:26px;text-align:center;display:block;background:#ff6600;color:#fff;}
.l-table-wth tbody tr td.cz a:hover{background:#f58c46;}
.l-ordertit{border-bottom:1px #eee solid;width:1068px;margin:20px auto 0;}
.l-ordertit ul.l-order-tab{width:950px;height:40px;}
.l-ordertit ul.l-order-tab li{width:100px;float:left;font-size:16px;}
.l-ordertit ul.l-order-tab li a{line-height:38px;line-height:38px;float:left;font-size:16px;text-align:center;padding:0 10px;color:#666;margin-bottom:20px;}
.l-ordertit ul.l-order-tab li a:hover{color:#ff6600;}
.l-ordertit ul.l-order-tab a.now{color:#ff6600;border-bottom:2px #ff6600 solid;}
a.l-order-print{width:100px;line-height:34px;height:34px;text-align:center;border:1px #ff6600 solid;color:#ff6600;font-size:14px;}
a.l-order-print:hover{background:#fa883c;color:#fff;}



/* 供应商 */
.l-vendor-divide{border-left:1px solid #eee;}
.l-vendor-one .l-vendorpic{width:120px;height:80px;margin:20px 16px;overflow:hidden;}
.l-vendor-one .l-vendor-info a{margin-top:25px;display: block;}
.l-vendor-one .l-vendor-info span{display:block;}

.l-vendordail .l-vendorpic{width:120px;height:80px;margin:20px 16px 0 0;overflow:hidden;}
.l-vendordail .l-vendordail-info a{margin-top:25px;display: block;}
.l-vendordail .l-vendordail-info span{display:block;}
.l-vendordail .l-vendordail-actives-core .l-vendordail-actives-core-one{width:40px;float:left;}
.l-vendordail .l-vendordail-actives-core span{width:40px;display:block;text-align:center;font-size: 14px;}
.l-vendordail .l-vendordail-actives-core span.tit{color:#fa883c;font-weight:bold;margin-top:30px;}

.l-vendordail-main{padding-bottom: 50px;}
.l-vendordail-main .title{padding:20px 15px;font-size:16px;color:#fa883c;}
.l-vendordail-main  h5{padding:0 20px;margin-left:20px;line-height:25px;}

    /* 页码 */
    .pagination li.active a{border-color:#eee;color:#fff !important;background:#DE1921 !important;}
    .pagination li.active a:hover{border-color:#eee;}
    .pagination li a{color:#666;}
    .pagination li a:hover{color:#555;}

 /*首页快捷入口*/
 .l-fast-select{width:441px;height:340px;position:absolute;background:#f9fafc;z-index:10000;top:70px;border:1px #f0f1f3 solid;}
 .l-fast-select ul.l-fasttab{width:100%;height:50px;display:inline-block;}
 .l-fast-select ul.l-fasttab li{width:146px;height:50px;line-height:50px;float:left;text-align:center;font-size:16px;border-left:1px #f9fafc solid;border-bottom:1px #f9fafc solid;background:#f0f1f3;cursor:pointer;color:#666;}
 .l-fast-select ul.l-fasttab li.cur{background:#f9fafc;border-bottom:1px #f9fafc solid;color:#EF8713;}
 .l-fast-select .l-fast-maincur .l-fast-main-one .l-fast-main-tit{width:100%;height:24px;margin-top: 20px;}
 .l-fast-select .l-fast-maincur .l-fast-main-one .l-fast-main-tit span{line-height:24px;font-size:14px;}
 .l-fast-select .l-fast-maincur .l-fast-main-one .l-fast-main-tit span.yellow{color:#9B9999;}
 .l-fast-select .l-fast-maincur .l-fast-main-one .l-fast-main-tit span.yellow input[type="checkbox"]{margin-right:4px;margin-top:2px;}
 .l-fast-select .l-fast-maincur .l-fast-main-one{width:190px;height:200px;float:left;margin-left:20px;}
 .l-fast-select .l-fast-maincur .l-fast-main-one input[type="text"]{border:1px #eae9e9 solid;width:190px;height:30px;line-height:30px;padding:4px 4px;margin-top:6px;font-size:14px;}
 .l-fast-select .l-fast-maincur .l-fast-main-one input.mrtop{margin-top:20px !important;}
 .l-fast-select .l-fast-maincur a.fastbtn{width:401px;height:40px;line-height:40px;background:#EF8713;display:block;margin-top:10px !important;font-size:16px;color:#fff;margin:0 auto;text-align:center;}
 .l-fast-select .l-fast-maincur a.fastbtn:hover{background:#F69D3A;}